<template>
  <div id="TreeGraph" class="hello">
    <svg width="1000" height="500">
      <g transform="translate(250,250)">
        <TreePath v-for="(link, index) in links" :link="link" :key="`tree-path-${index}`">
        </TreePath>
        <TreeNode
          v-for="(node, index) in nodes"
          :node="node"
          :index="index"
          :key="`tree-node-${index}`"
          :selectedItem="selectedItem"
          @selected="selected"
        >
        </TreeNode>
      </g>
    </svg>
  </div>
</template>

<script>
import * as d3 from 'd3';
import TreePath from '@/components/TreePath.vue';
import TreeNode from '@/components/TreeNode.vue';
import EntitiesApi from '@/api/entities';

export default {
  components: {
    TreePath,
    TreeNode,
  },
  props: ['notificationActive'],
  data() {
    return {
      selectedItem: null,
      selectedDescription: null,
      selectedName: null,
      treeData: null,
    };
  },
  beforeMount() {
    EntitiesApi.getEntities().then((result) => {
      this.treeData = result.data;
    });
  },
  methods: {
    selected(item) {
      if (this.selectedItem !== item.index) {
        this.selectedItem = item.index;
        this.selectedDescription = item.description;
        this.selectedName = item.name;
        this.$emit('selected', { node: this.selectedItem, name: this.selectedName, description: this.selectedDescription });
      } else {
        this.selectedItem = '';
      }
    },
  },
  computed: {
    links() {
      if (this.treeData) {
        const tree = d3.layout.tree()
          .nodeSize([100, 200])
          .separation(() => 0.5);
        const nodes = tree.nodes(this.treeData);
        return tree.links(nodes);
      }
      return [];
    },
    nodes() {
      if (this.treeData) {
        const tree = d3.layout.tree()
          .nodeSize([100, 200])
          .separation(() => 0.5);
        return tree.nodes(this.treeData);
      }
      return [];
    },
    selectedNode() {
      return this.selectedItem;
    },
  },
  watch: {
    notificationActive(val) {
      if (!val) {
        this.selectedItem = null;
      }
    },
  },
};
</script>
