<template>
  <path class="link" :d="elbow(link)" ></path>
</template>;

<script>
export default {
  props: ['link'],
  methods: {
    elbow(d) {
      if (d) {
        return `M${d.source.y},${d.source.x}H${d.source.y + (d.target.y - d.source.y) / 2}V${d.target.x}H${d.target.y}`;
      }
      return '';
    },
  },
};
</script>

<style>
.link {
  fill: none;
  stroke: gray;
  stroke-width: 2px;
}
</style>
